$purple: #531046;
$brown: #757763;

$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$blue-link: #277ac2;
$blue: #84ACCE;
$blue-light: #B7D4E8;

$text: #242424;
$box: #F3F3F3;


// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',

  $grey-dark: $brown,
  $grey-light: $beige-light,
  
  $text: $text,
  $text-weak: $text,
  $text-strong: $text,
  $primary: $purple,
  $success: $blue,
  $link: $blue-link,
  $control-border-width: 2px,
  $input-shadow: none,
  $info: $box,

  $background: $beige-lighter,
  $pre-background: $beige-light,
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");