<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>{% block title %}FUNxing Island{% endblock %}</title>
</head>

<body class="{% block body_class %}has-background-white-bis{% endblock %}">

    <!--Header-->
    <section class="section pb-1">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">

                    <div class="columns is-mobile is-multiline">

                        <div class="column is-3-desktop is-4-mobile is-3-tablet">
                            <a href="/maze" class="is-block">
                                <figure class="image is-fullwidth">
                                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Play Today">
                                </figure>
                            </a>
                        </div>

                        <div class="column is-3-desktop is-2-mobile is-3-tablet">
                        </div>

                        <!-- Buttons -->
                        <div class="column is-half-desktop is-half-mobile is-7-tablet">

                            <div class="columns is-mobile is-multiline is-centered">

                                <div class="column is-3-desktop is-4-mobile is-4-tablet">
                                    <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                        <span class="icon is-small">
                                            <i class="fas fa-comments"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-3-desktop is-4-mobile is-4-tablet">
                                    <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                        <span class="icon is-small">
                                            <i class="fas fa-bell"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-3-desktop is-4-mobile is-4-tablet">
                                    <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                        <span class="icon is-small">
                                            <i class="fas fa-user-circle" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!--Header-->
    <!--
    <div class="container mt-4">
        <div class="columns is-centered">
            <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">

                <div class="columns is-mobile">
                    <div class="column is-7-mobile is-two-fifths-tablet">
                        <div class="container">
                            <h1 class="title is-4-mobile is-3-tablet">
                                FUNxing Island
                            </h1>
                            <h2 class="subtitle is-6-mobile is-5-tablet">
                                A ludic journey
                            </h2>
                        </div>
                    </div>

                    <div class="column is-5-mobile is-one-third-tablet">
                        <div class="columns is-mobile is-multiline is-centered">
                            <div class="column is-4-mobile is-4-tablet">
                                <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-comments"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="column is-4-mobile is-4-tablet">
                                <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-bell"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="column is-4-mobile is-4-tablet">
                                <a class="button is-primary is-fullwidth is-small-mobile" href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
-->

    {% block content %}
    {% endblock %}


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">
                    <div class="columns is-mobile is-multiline is-centered">

                        <div class="column is-3-mobile is-3-tablet">
                            <a class="button is-primary is-fullwidth is-small" href="/">
                                <span class="icon-text">
                                    <span class="icon is-small">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    <span class="is-hidden-mobile">Home</span>
                                </span>
                            </a>
                        </div>
                        <div class="column is-3-mobile is-3-tablet">
                            <a class="button is-primary is-fullwidth is-small" href="/activities">
                                <span class="icon-text">
                                    <span class="icon is-small">
                                        <i class="fas fa-chevron-up"></i>
                                    </span>
                                    <span class="is-hidden-mobile">Activities</span>
                                </span>
                            </a>
                        </div>
                        <div class="column is-3-mobile is-3-tablet">
                            <a class="button is-primary is-fullwidth is-small" href="/events">
                                <span class="icon-text">
                                    <span class="icon is-small">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>
                                    <span class="is-hidden-mobile">Events</span>
                                </span>
                            </a>
                        </div>
                        <div class="column is-3-mobile is-3-tablet">
                            <a class="button is-primary is-fullwidth is-small" href="/">
                                <span class="icon-text">
                                    <span class="icon is-small">
                                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                                    </span>
                                    <span class="is-hidden-mobile">Profile</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>