{% extends "base.html" %}

{% block content %}

<!-- Amphitheater Schedule -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">
        <div class="box has-background-info">

          <h2 class="title is-4 has-text-info-dark">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span>Amphitheater Schedule</span>
            </span>
          </h2>

          <div class="columns is-mobile is-multiline">

            <div class="column is-full-mobile is-5-tablet">
              <div class="box has-background-info">
                <a class="is-block">
                  <figure class="image is-fullwidth">
                    <img src="{{ url_for('static', filename='amphitheater_futuristic.png') }}" alt="Play Today" class="is-rounded">
                  </figure>
                </a>
              </div>
            </div>

            <!-- Scheduled Events -->
            <div class="column is-full-mobile is-7-tablet">
              <div class="box has-background-white">
                <div class="content">
                  <h3 class="title is-5 has-text-black">Upcoming Events</h3>
                  <ul class="has-text-black">
                    <p class="title is-5 has-text-black">Fri 4 Jul - Karaoke Night</p>
                    <p class="subtitle is-6 has-text-black">Have a beautiful night on the island while singing famous
                      songs</p>

                    <p class="title is-5 has-text-black">Sat 5 Jul - Live show</p>
                    <p class="subtitle is-6 has-text-black">Don't miss the vibrant show provided by the most popular
                      emergent music groups of Shanghai</p>

                    <p class="title is-5 has-text-black">Sun 6 Jul - Group Tai Chi</p>
                    <p class="subtitle is-6 has-text-black">As every Sunday morning, enjoy the experience of the
                      meditation on the amphitheater</p>


                    <p class="title is-6 has-text-link">
                      <a href="" class="has-text-link">See more events</a>
                    </p>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
</section>



<!-- Games schedule -->
<section class="section pt-1">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">
        <div class="box has-background-info">

          <h2 class="title is-4 has-text-info-dark">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-puzzle-piece"></i>
              </span>
              <span>Games Activities</span>
            </span>
          </h2>

          <div class="columns is-mobile is-multiline">

            <div class="column is-full-mobile is-5-tablet">
              <div class="box has-background-info">
                <a class="is-block">
                  <figure class="image is-fullwidth">
                    <img src="{{ url_for('static', filename='logic_games.png') }}" alt="Play Today" class="is-rounded">
                  </figure>
                </a>
              </div>
            </div>

            <!-- Scheduled Events -->
            <div class="column is-full-mobile is-7-tablet">
              <div class="box has-background-white">
                <div class="content">
                  <h3 class="title is-5 has-text-black">Upcoming Activities</h3>
                  <ul class="has-text-black">
                    <p class="title is-5 has-text-black">Fri 4 Jul - Maze speedrun</p>
                    <p class="subtitle is-6 has-text-black"> Try to complete the maze in the shortest time possible!
                      Today's theme: scape the
                      labyrinth of the wild.
                    </p>

                    <p class="title is-5 has-text-black">Sat 5 Jul - Draw the Hanzi for kids</p>
                    <p class="subtitle is-6 has-text-black">Activities during the evening for children. Have fun while
                      learning new characters.</p>

                    <p class="title is-5 has-text-black">Sun 6 Jul - Game party</p>
                    <p class="subtitle is-6 has-text-black"> Would you be good enough to climb to the top of the
                      leaderboard? Join us and try to complete all the puzzes!
                    </p>
                    <!-- link of more events-->
                    <p class="title is-6 has-text-link">
                      <a href="" class="has-text-link">See more activities</a>
                    </p>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
</section>



{% endblock %}