{% extends "base.html" %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">
        <div class="box has-background-info">
          <h2 class="title is-4 has-text-info-dark">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span>Dashboard</span>
            </span>
          </h2>
          <div class="subtitle is-6 has-text-grey-dark mb-4">Last Activities</div>

          <div class="columns is-mobile is-multiline">

            <div class="column is-half-mobile is-one-fourth-tablet">
              <div class="box has-background-success-light">
                <div class="has-text-centered">
                  <span class="icon is-medium has-text-success">
                    <i class="fas fa-gamepad fa-lg"></i>
                  </span>
                  <p class="subtitle is-7 mt-1">Games Played</p>
                  <p class="title is-5 has-text-success">12</p>
                </div>
              </div>
            </div>

            <div class="column is-half-mobile is-one-fourth-tablet">
              <div class="box has-background-success-light">
                <div class="has-text-centered">
                  <span class="icon is-medium has-text-success">
                    <i class="fas fa-road fa-lg"></i>
                  </span>
                  <p class="subtitle is-7 mt-1">Total Distance</p>
                  <p class="title is-5 has-text-success">8km</p>
                </div>
              </div>
            </div>

            <div class="column is-half-mobile is-one-fourth-tablet">
              <div class="box has-background-success-light">
                <div class="has-text-centered">
                  <span class="icon is-medium has-text-success">
                    <i class="fas fa-clock fa-lg"></i>
                  </span>
                  <p class="subtitle is-7 mt-1">Time Played</p>
                  <p class="title is-5 has-text-success">3h 45m</p>
                </div>
              </div>
            </div>

            <div class="column is-half-mobile is-one-fourth-tablet">
              <div class="box has-background-success-light">
                <div class="has-text-centered">
                  <span class="icon is-medium has-text-success">
                    <i class="fas fa-users fa-lg"></i>
                  </span>
                  <p class="subtitle is-7 mt-1">Friends</p>
                  <p class="title is-5 has-text-success">5</p>
                </div>
              </div>
            </div>
          </div>

          <!--Last days-->
          <div class="media-content">
            <div class="columns is-mobile">

              <div class="column is-4-mobile is-one-fifth-tablet">
                <div class="box has-background-white has-text-centered">
                  <p class="title is-7 has-text-black mb-1">Jun 5</p>
                  <figure class="image mx-auto mb-2">
                    <img class="is-rounded is-fullwidth" src="{{ url_for('static', filename='badge1.png') }}"
                      alt="Monday Badge">
                  </figure>
                  <p class="tag is-primary is-small">12</p>
                </div>
              </div>


              <div class="column is-4-mobile is-one-fifth-tablet">
                <div class="box has-background-white has-text-centered">
                  <p class="title is-7 has-text-black mb-1">Jun 1</p>
                  <figure class="image mx-auto mb-2">
                    <img class="is-rounded is-fullwidth" src="{{ url_for('static', filename='badge2.png') }}"
                      alt="Monday Badge">
                  </figure>
                  <p class="tag is-primary is-small">12</p>
                </div>
              </div>


              <div class="column is-4-mobile is-one-fifth-tablet">
                <div class="box has-background-white has-text-centered">
                  <p class="title is-7 has-text-black mb-1">May 24</p>
                  <figure class="image mx-auto mb-2">
                    <img class="is-rounded is-fullwidth" src="{{ url_for('static', filename='badge1.png') }}"
                      alt="Monday Badge">
                  </figure>
                  <p class="tag is-primary is-small">12</p>
                </div>
              </div>


              <div class="column is-4-mobile is-one-fifth-tablet">
                <div class="box has-background-white has-text-centered">
                  <p class="title is-7 has-text-black mb-1">May 23</p>
                  <figure class="image mx-auto mb-2">
                    <img class="is-rounded is-fullwidth" src="{{ url_for('static', filename='badge3.png') }}"
                      alt="Monday Badge">
                  </figure>
                  <p class="tag is-primary is-small">12</p>
                </div>
              </div>


              <div class="column is-4-mobile is-one-fifth-tablet">
                <div class="box has-background-white has-text-centered">
                  <p class="title is-7 has-text-black mb-1">Apr 28</p>
                  <figure class="image mx-auto mb-2">
                    <img class="is-rounded is-fullwidth" src="{{ url_for('static', filename='badge2.png') }}"
                      alt="Monday Badge">
                  </figure>
                  <p class="tag is-primary is-small">12</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
</section>



<!-- Now I want a section with posts. Each post should contain a logo, a title and a message-->
<section class="section pt-2">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop is-three-quarters-tablet is-full-mobile">
        <div class="columns is-multiline">
          <!-- Post 1 -->
          <div class="column is-full">
            <div class="box has-background-info">
              <article class="media">
                <figure class="media-left">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </figure>
                <div class="media-content">
                  <div class="columns is-mobile">
                    <div class="column is-3-mobile is-2-tablet">
                      <figure class="image is-fullwidth">
                        <img src="{{ url_for('static', filename='blured_maze2.jpeg') }}">
                      </figure>
                    </div>

                    <div class="column is-2-mobile is-1-tablet">
                      <figure class="image is-fullwidth">
                        <img class="is-rounded" src="{{ url_for('static', filename='badge1.png') }}">
                      </figure>
                    </div>

                    <div class="column is-7-mobile is-9-tablet">
                      <div class="content">
                        <p class="title is-6 has-text-black">Lot of fun in the maze today</p>
                        <p class="subtitle is-7 has-text-black">
                          Today I completed the maze challenge, it was amazing! Also, I played some of the games
                          located
                          in the plaza.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>


          <!-- Post 2 -->
          <div class="column is-full">
            <div class="box has-background-info">
              <article class="media">
                <figure class="media-left">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </figure>
                <div class="media-content">
                  <div class="columns is-mobile">
                    <div class="column is-3-mobile is-2-tablet">
                      <figure class="image is-fullwidth">
                        <img src="{{ url_for('static', filename='solved_maze1.png') }}">
                      </figure>
                    </div>

                    <div class="column is-2-mobile is-1-tablet">
                      <figure class="image is-fullwidth">
                        <img class="is-rounded" src="{{ url_for('static', filename='badge2.png') }}">
                      </figure>
                    </div>

                    <div class="column is-7-mobile is-9-tablet">
                      <div class="content">
                        <p class="title is-6 has-text-black">
                          <strong>Lorem ipsum</strong>
                        </p>
                        <p class="subtitle is-7 has-text-black">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                          invidunt ut labore et dolore magna aliquyam erat...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <!-- Post 3 -->
          <div class="column is-full">
            <div class="box has-background-info">
              <article class="media">
                <figure class="media-left">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </figure>
                <div class="media-content">
                  <div class="columns is-mobile">
                    <div class="column is-3-mobile is-2-tablet">
                      <figure class="image is-fullwidth">
                        <img src="{{ url_for('static', filename='solved_maze1.png') }}">
                      </figure>
                    </div>

                    <div class="column is-2-mobile is-1-tablet">
                      <figure class="image is-fullwidth">
                        <img class="is-rounded" src="{{ url_for('static', filename='badge3.png') }}">
                      </figure>
                    </div>

                    <div class="column is-7-mobile is-9-tablet">
                      <div class="content">
                        <p class="title is-6 has-text-black">
                          <strong>Lorem Ipsum</strong>
                        </p>
                        <p class="subtitle is-7 has-text-black">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                          invidunt ut labore et dolore magna aliquyam erat...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>





</body>

{% endblock %}