{% extends "base.html" %}

{% block body_class %}{% endblock %}

{% block content %}

<!--Picture of the maze occupying all the page-->
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <figure class="image">
              <img class="is-full" src="{{ url_for('static', filename='maze.jpeg') }}" alt="Maze">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}