
<!--Picture of the maze occupying all the page-->
  <section class="hero is-fullheight" style="overflow: hidden;">
    <div class="hero-body p-0" style="display: flex; align-items: center; justify-content: center;">
      <video class="is-fullwidth is-fullheight" controls autoplay muted loop playsinline webkit-playsinline 
             style="object-fit: cover; width: 100vw; height: 100vh; position: absolute; top: 0; left: 0;">
        <source src="{{ url_for('static', filename='maze_video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </section>
